USE [BookShop]
GO
/****** Object:  Table [dbo].[tb_CTPN]    Script Date: 11/06/2020 10:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CTPN](
	[maCTPN] [nvarchar](50) NOT NULL,
	[maPhieuNhap] [nvarchar](50) NOT NULL,
	[maSach] [nvarchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [bigint] NOT NULL,
	[thanhTien] [bigint] NOT NULL,
 CONSTRAINT [PK_tb_CTPN] PRIMARY KEY CLUSTERED 
(
	[maCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CTPX]    Script Date: 11/06/2020 10:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CTPX](
	[maCTPX] [nvarchar](50) NOT NULL,
	[maPhieuXuat] [nvarchar](50) NOT NULL,
	[maSach] [nvarchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
	[thanhTien] [bigint] NOT NULL,
 CONSTRAINT [PK_tb_CTPX] PRIMARY KEY CLUSTERED 
(
	[maCTPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_GianHang]    Script Date: 11/06/2020 10:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_GianHang](
	[maGianHang] [nvarchar](50) NOT NULL,
	[tenGianHang] [ntext] NOT NULL,
	[moTa] [ntext] NOT NULL,
 CONSTRAINT [PK_tb_GianHang] PRIMARY KEY CLUSTERED 
(
	[maGianHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NguoiDung]    Script Date: 11/06/2020 10:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NguoiDung](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tb_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NXB]    Script Date: 11/06/2020 10:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NXB](
	[maNXB] [nvarchar](50) NOT NULL,
	[tenNXB] [ntext] NOT NULL,
	[diaChi] [ntext] NOT NULL,
	[dienThoai] [ntext] NOT NULL,
	[email] [ntext] NOT NULL,
 CONSTRAINT [PK_tb_NXB] PRIMARY KEY CLUSTERED 
(
	[maNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PhieuNhap]    Script Date: 11/06/2020 10:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PhieuNhap](
	[maPhieuNhap] [nvarchar](50) NOT NULL,
	[maNXB] [nvarchar](50) NOT NULL,
	[ngayNhap] [date] NOT NULL,
	[thanhTien] [bigint] NOT NULL,
 CONSTRAINT [PK_tb_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[maPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PhieuXuat]    Script Date: 11/06/2020 10:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PhieuXuat](
	[maPhieuXuat] [nvarchar](50) NOT NULL,
	[tenKH] [ntext] NOT NULL,
	[ngayXuat] [date] NOT NULL,
	[thanhTien] [bigint] NOT NULL,
 CONSTRAINT [PK_tb_PhieuXuat] PRIMARY KEY CLUSTERED 
(
	[maPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Sach]    Script Date: 11/06/2020 10:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Sach](
	[maSach] [nvarchar](50) NOT NULL,
	[tieuDe] [ntext] NOT NULL,
	[tacGia] [ntext] NOT NULL,
	[namXuatBan] [int] NOT NULL,
	[giaBia] [int] NOT NULL,
	[maNXB] [nvarchar](50) NOT NULL,
	[soLuongTon] [int] NOT NULL,
	[maGianHang] [nvarchar](50) NULL,
	[anh] [nvarchar](200) NULL,
 CONSTRAINT [PK_tb_Sach] PRIMARY KEY CLUSTERED 
(
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tb_CTPN] ([maCTPN], [maPhieuNhap], [maSach], [soLuong], [donGia], [thanhTien]) VALUES (N'CTPN1', N'PN1', N'TDDV', 5, 15000, 1111)
INSERT [dbo].[tb_CTPN] ([maCTPN], [maPhieuNhap], [maSach], [soLuong], [donGia], [thanhTien]) VALUES (N'CTPN20', N'PN10', N'NMTH', 4000, 1, 4000)
INSERT [dbo].[tb_CTPN] ([maCTPN], [maPhieuNhap], [maSach], [soLuong], [donGia], [thanhTien]) VALUES (N'CTPN21', N'PN1', N'NMTH', 1, 1, 1)
INSERT [dbo].[tb_CTPX] ([maCTPX], [maPhieuXuat], [maSach], [soLuong], [thanhTien]) VALUES (N'CTPX1', N'PX1', N'TCC1', 5, 300000)
INSERT [dbo].[tb_CTPX] ([maCTPX], [maPhieuXuat], [maSach], [soLuong], [thanhTien]) VALUES (N'CTPX10', N'PX4', N'TDDV', 30, 600000)
INSERT [dbo].[tb_CTPX] ([maCTPX], [maPhieuXuat], [maSach], [soLuong], [thanhTien]) VALUES (N'CTPX11', N'PX5', N'NMTH', 1, 25000)
INSERT [dbo].[tb_GianHang] ([maGianHang], [tenGianHang], [moTa]) VALUES (N'BANCHAY', N'Sách bán chạy', N'Sách bán chạy')
INSERT [dbo].[tb_GianHang] ([maGianHang], [tenGianHang], [moTa]) VALUES (N'DAIHOC', N'Sách đại học', N'Sách đại học')
INSERT [dbo].[tb_GianHang] ([maGianHang], [tenGianHang], [moTa]) VALUES (N'TINHOC', N'Sách tin học', N'Sách tin học')
INSERT [dbo].[tb_NguoiDung] ([TaiKhoan], [MatKhau]) VALUES (N'@root:admin', N'admin')
INSERT [dbo].[tb_NguoiDung] ([TaiKhoan], [MatKhau]) VALUES (N'admin', N'admin')
INSERT [dbo].[tb_NXB] ([maNXB], [tenNXB], [diaChi], [dienThoai], [email]) VALUES (N'BACHKHOA', N'NXB Bách Khoa', N'Hoàng Mai', N'0988754852', N'nxbbachkhoa@gmail.com')
INSERT [dbo].[tb_NXB] ([maNXB], [tenNXB], [diaChi], [dienThoai], [email]) VALUES (N'GIAODUC', N'NXB Giáo dục', N'Hà Nội', N'0999999999', N'giaoduc@gmail.com')
INSERT [dbo].[tb_NXB] ([maNXB], [tenNXB], [diaChi], [dienThoai], [email]) VALUES (N'KIMDONG', N'NXB Kim Đồng', N'Hai Bà Trưng', N'01685245157', N'nxbkimdong@gmail.com')
INSERT [dbo].[tb_PhieuNhap] ([maPhieuNhap], [maNXB], [ngayNhap], [thanhTien]) VALUES (N'PN1', N'KIMDONG', CAST(N'2015-03-04' AS Date), 1112)
INSERT [dbo].[tb_PhieuNhap] ([maPhieuNhap], [maNXB], [ngayNhap], [thanhTien]) VALUES (N'PN10', N'GIAODUC', CAST(N'2016-12-15' AS Date), 4000)
INSERT [dbo].[tb_PhieuNhap] ([maPhieuNhap], [maNXB], [ngayNhap], [thanhTien]) VALUES (N'PN11', N'GIAODUC', CAST(N'2016-12-16' AS Date), 2)
INSERT [dbo].[tb_PhieuXuat] ([maPhieuXuat], [tenKH], [ngayXuat], [thanhTien]) VALUES (N'PX1', N'Nguyễn Văn H', CAST(N'2016-01-12' AS Date), 125500000)
INSERT [dbo].[tb_PhieuXuat] ([maPhieuXuat], [tenKH], [ngayXuat], [thanhTien]) VALUES (N'PX2', N'Phạm Xuân D', CAST(N'2016-12-15' AS Date), 125000)
INSERT [dbo].[tb_PhieuXuat] ([maPhieuXuat], [tenKH], [ngayXuat], [thanhTien]) VALUES (N'PX3', N'Nguyễn Thị V', CAST(N'2016-12-15' AS Date), 680000)
INSERT [dbo].[tb_Sach] ([maSach], [tieuDe], [tacGia], [namXuatBan], [giaBia], [maNXB], [soLuongTon], [maGianHang], [anh]) VALUES (N'NMTH', N'Nhập môn tin học', N'Nguyễn Văn A', 1996, 25000, N'BACHKHOA', 6894, N'DAIHOC', N'nhap-mon-tin-hoc.jpg')
INSERT [dbo].[tb_Sach] ([maSach], [tieuDe], [tacGia], [namXuatBan], [giaBia], [maNXB], [soLuongTon], [maGianHang], [anh]) VALUES (N'TCC1', N'Toán Cao Cấp 1', N'Nguyễn Văn H', 1996, 85000, N'GIAODUC', 49979, N'DAIHOC', N'toan-cao-cap-1.png')
INSERT [dbo].[tb_Sach] ([maSach], [tieuDe], [tacGia], [namXuatBan], [giaBia], [maNXB], [soLuongTon], [maGianHang], [anh]) VALUES (N'TCC2', N'Toán Cao Cấp 2', N'Nguyễn Văn G', 1996, 85000, N'GIAODUC', 49997, N'DAIHOC', N'toan-cao-cap-2.jpg')
ALTER TABLE [dbo].[tb_CTPN]  WITH CHECK ADD  CONSTRAINT [FK_tb_CTPN_tb_PhieuNhap] FOREIGN KEY([maPhieuNhap])
REFERENCES [dbo].[tb_PhieuNhap] ([maPhieuNhap])
GO
ALTER TABLE [dbo].[tb_CTPN] CHECK CONSTRAINT [FK_tb_CTPN_tb_PhieuNhap]
GO
ALTER TABLE [dbo].[tb_CTPN]  WITH CHECK ADD  CONSTRAINT [FK_tb_CTPN_tb_Sach] FOREIGN KEY([maSach])
REFERENCES [dbo].[tb_Sach] ([maSach])
GO
ALTER TABLE [dbo].[tb_CTPN] CHECK CONSTRAINT [FK_tb_CTPN_tb_Sach]
GO
ALTER TABLE [dbo].[tb_CTPX]  WITH CHECK ADD  CONSTRAINT [FK_tb_CTPX_tb_PhieuXuat] FOREIGN KEY([maPhieuXuat])
REFERENCES [dbo].[tb_PhieuXuat] ([maPhieuXuat])
GO
ALTER TABLE [dbo].[tb_CTPX] CHECK CONSTRAINT [FK_tb_CTPX_tb_PhieuXuat]
GO
ALTER TABLE [dbo].[tb_CTPX]  WITH CHECK ADD  CONSTRAINT [FK_tb_CTPX_tb_Sach] FOREIGN KEY([maSach])
REFERENCES [dbo].[tb_Sach] ([maSach])
GO
ALTER TABLE [dbo].[tb_CTPX] CHECK CONSTRAINT [FK_tb_CTPX_tb_Sach]
GO
ALTER TABLE [dbo].[tb_PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_tb_PhieuNhap_tb_NXB] FOREIGN KEY([maNXB])
REFERENCES [dbo].[tb_NXB] ([maNXB])
GO
ALTER TABLE [dbo].[tb_PhieuNhap] CHECK CONSTRAINT [FK_tb_PhieuNhap_tb_NXB]
GO
ALTER TABLE [dbo].[tb_Sach]  WITH CHECK ADD  CONSTRAINT [FK_tb_Sach_tb_GianHang] FOREIGN KEY([maGianHang])
REFERENCES [dbo].[tb_GianHang] ([maGianHang])
GO
ALTER TABLE [dbo].[tb_Sach] CHECK CONSTRAINT [FK_tb_Sach_tb_GianHang]
GO
ALTER TABLE [dbo].[tb_Sach]  WITH CHECK ADD  CONSTRAINT [FK_tb_Sach_tb_NXB] FOREIGN KEY([maNXB])
REFERENCES [dbo].[tb_NXB] ([maNXB])
GO
ALTER TABLE [dbo].[tb_Sach] CHECK CONSTRAINT [FK_tb_Sach_tb_NXB]
GO
